<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><% if (page.title){ %><%- page.title %> <% } else { %><%= config.title %> <% } %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <%- css(['css/mdl/material.css', 'css/prism/prism.css', 'css/style.css']) %>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <a href="/" class="mdl-layout-title">UTG Blog</a>
    <nav class="mdl-navigation">

      <ul class="mdl-list mdl-navigation">
        <span class="mdl-list__title">Classes</span>
        <% site.pages.sort('name').each(function(page) { %> 
          <% if (page.title.indexOf('PY') !== -1){ %>
            <a href="<%- url_for(page.name)%>">
              <li class="mdl-list__item mdl-navigation__link <% if (is_current(page.name)) { %>active-class<% } %>">
                <span class="mdl-list__item-primary-content ">
                  <i class="material-icons mdl-list__item-icon">code</i>
                  <%- page.title %>
                </span>
              </li>
            </a>
          <% } %>
        <% }) %>
      </ul>

      <hr>

      <ul class="mdl-list mdl-navigation">
        <li class="mdl-list__item mdl-navigation__link">
          <a href="<%- url_for('links') %>" class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">link</i>
            Links
          </a>
        </li>
      </ul>

      <hr>

      <ul class="mdl-list mdl-navigation">
        <li class="mdl-list__item mdl-navigation__link">
          <a href="<%- url_for('questions') %>" class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">info</i>
            Questions
          </a>
        </li>
      </ul>


    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%- body %> 
    </div>
  </main>
  <%- js(['js/mdl/material.min.js', 'js/prism/prism.js']) %>
</body>

</html>